In [19]:
import pandas as pd
import numpy as np

In [20]:

distances = pd.read_csv('dist.csv')
depos = pd.read_csv('depos.csv')
repairs_costs = pd.read_csv('repairs_costs.csv')
stations = pd.read_csv('stations.csv')
vagons_repairs = pd.read_csv('vagons_repairs.csv')
vagons_ways = pd.read_csv('vagons_ways.csv')

all_data = [distances, depos, repairs_costs, stations, vagons_repairs, vagons_ways]
table_names = "distances, depos, repairs_costs, stations, vagons_repairs, vagons_ways".split(", ")

In [21]:
for i in range(len(table_names)):
    print(table_names[i].center(100).upper(), end='\n\n')
    print(all_data[i].head(), end='\n\n\n')

                                             DISTANCES

   station_id      name  depo_id           depo_name  distance_to_depo
0           1  Сосновка        1      Депо-Ленинское             10077
1           1  Сосновка        2  Депо-Комсомольское             10436
2           1  Сосновка        3     Депо-Молодежное             10522
3           2   Липовка        1      Депо-Ленинское              2084
4           2   Липовка        2  Депо-Комсомольское              3789


                                               DEPOS

   id           depo_name
0   1      Депо-Ленинское
1   2  Депо-Комсомольское
2   3     Депо-Молодежное


                                           REPAIRS_COSTS

   id                                 repair_name  repair_cost
0   1                          Капитальный ремонт     94000000
1   2                            Деповской ремонт     19000000
2   3           Плановый предупредительный ремонт     13000000
3   4  Вакуумная очистка и гидроиспытания (ВОиГИ)     18000000


                                              STATIONS

   id        name
0   1    Сосновка
1   2     Липовка
2   3       Рожок
3   4       Гатка
4   5  Георгополь


                                           VAGONS_REPAIRS

    car_num  ct_name psevdoname     std_kap     std_ppr     std_dep  \
0  57463085  Газовые    15-78-5  2021-08-08  2018-08-26  2019-08-31
1  57456220  Газовые    15-78-5  2021-08-02  2019-05-19  2019-09-15
2  57453656  Газовые    15-78-5  2021-07-19  2019-01-22  2019-07-07
3  57463507  Газовые    15-78-5  2021-07-19  2019-03-18  2018-06-02
4  57463309  Газовые    15-78-5  2021-06-20  2018-05-16  2019-01-09

     std_vogi
0  2019-05-19
1  2019-05-19
2  2019-05-18
3  2019-05-18
4  2019-04-24


                                            VAGONS_WAYS

    car_num        date  station_id
0  57463085  2015-01-01           2
1  57463085  2015-01-25           6
2  57463085  2015-02-18           9
3  57463085  2015-03-14           5
4  57463085  2015-04-07           8

In [22]:
closest_depos = distances.loc[distances.groupby('name', as_index=False, sort=False)['distance_to_depo'].idxmin()]

In [23]:
closest_depos.head()

    station_id        name  depo_id           depo_name  distance_to_depo
0            1    Сосновка        1      Депо-Ленинское             10077
3            2     Липовка        1      Депо-Ленинское              2084
7            3       Рожок        2  Депо-Комсомольское              2341
11           4       Гатка        3     Депо-Молодежное              3029
14           5  Георгополь        3     Депо-Молодежное              3662

In [24]:
# стоимость по плану
wagon = 57463085
ways = vagons_ways[vagons_ways['car_num'] == 57463085]
np.array(ways['station_id'])

array([ 2,  6,  9,  5,  8,  2,  6,  9,  3,  6, 10,  3,  7, 10,  4,  8,  1,
        4,  9,  2,  6, 10,  3,  7,  1,  4,  7,  1,  4,  8,  2,  5,  8,  4,
        8,  1,  5,  8,  2,  6,  9,  2,  6, 10,  3,  7, 10,  3,  7,  3,  6,
       10,  3,  7,  1,  4,  7,  1,  5,  8,  2,  5,  9,  2,  8,  1,  5,  9,
        2,  6,  9,  2,  6, 10,  3,  7,  1,  4,  7,  2,  5,  9,  3,  6, 10,
        3,  7, 10,  4,  7,  1,  5,  8,  1,  7,  1,  4,  8,  1,  5,  9,  2,
        5,  9,  2,  6, 10,  3,  6,  2,  6,  9,  3,  6, 10,  4,  7, 10,  4,
        8,  1,  5,  8,  2,  5,  1,  4,  8,  2,  5,  9,  2,  5,  9,  3,  6,
       10,  3,  7, 10,  5,  8,  2,  6,  9,  3,  6, 10,  3,  7, 10,  4,  8,
        1,  4, 10,  3,  7,  1,  4,  8,  2,  5,  8,  2,  5,  9,  3,  6,  9,
        5,  9,  2,  6,  9,  3,  7, 10,  3,  7,  1,  4,  8,  1,  4,  8,  4,
        7,  1,  4,  8,  2,  5,  8,  2,  6,  9,  3,  6, 10,  3,  8,  1,  5,
        9,  2,  6,  9,  2,  6, 10,  3,  7,  1,  4,  7,  3,  6, 10,  4,  7,
        1,  4,  8,  1,  5,  8,  2,  6], dtype=int64)