In [33]:
import pandas as pd

In [ ]:

distances = pd.read_csv('dist.csv')
depos = pd.read_csv('depos.csv')
repairs_costs = pd.read_csv('repairs_costs.csv')
stations = pd.read_csv('stations.csv')
vagons_repairs = pd.read_csv('vagons_repairs.csv')
vagons_ways = pd.read_csv('vagons_ways.csv')

all_data = []

In [12]:
distances.head()

   station_id      name  depo_id           depo_name  distance_to_depo
0           1  Сосновка        1      Депо-Ленинское             10077
1           1  Сосновка        2  Депо-Комсомольское             10436
2           1  Сосновка        3     Депо-Молодежное             10522
3           2   Липовка        1      Депо-Ленинское              2084
4           2   Липовка        2  Депо-Комсомольское              3789

In [14]:

depos.head()

   id           depo_name
0   1      Депо-Ленинское
1   2  Депо-Комсомольское
2   3     Депо-Молодежное

In [31]:

vagons_repairs.head()




00m

,car_num,ct_name,psevdoname,std_kap,std_ppr,std_dep,std_vogi
0,57463085,Газовые,15-78-5,2021-08-08,2018-08-26,2019-08-31,2019-05-19
1,57456220,Газовые,15-78-5,2021-08-02,2019-05-19,2019-09-15,2019-05-19
2,57453656,Газовые,15-78-5,2021-07-19,2019-01-22,2019-07-07,2019-05-18
3,57463507,Газовые,15-78-5,2021-07-19,2019-03-18,2018-06-02,2019-05-18
4,57463309,Газовые,15-78-5,2021-06-20,2018-05-16,2019-01-09,2019-04-24

In [32]:

vagons_ways.head()

    car_num        date  station_id
0  57463085  2015-01-01           2
1  57463085  2015-01-25           6
2  57463085  2015-02-18           9
3  57463085  2015-03-14           5
4  57463085  2015-04-07           8

In [25]:
vagons_repairs[vagons_repairs['car_num'] == 57751372]

,car_num,ct_name,psevdoname,std_kap,std_ppr,std_dep,std_vogi
194,57751372,Газовые,11-160-9,2020-03-26,2018-03-17,2018-05-25,2018-03-17