In [1]:
import pandas as pd

In [2]:

distances = pd.read_csv('dist.csv')
depos = pd.read_csv('depos.csv')
repairs_costs = pd.read_csv('repairs_costs.csv')
stations = pd.read_csv('stations.csv')
vagons_repairs = pd.read_csv('vagons_repairs.csv')
vagons_ways = pd.read_csv('vagons_ways.csv')

all_data = []

In [11]:
distances.head(30)

    station_id          name  depo_id           depo_name  distance_to_depo
0            1      Сосновка        1      Депо-Ленинское             10077
1            1      Сосновка        2  Депо-Комсомольское             10436
2            1      Сосновка        3     Депо-Молодежное             10522
3            2       Липовка        1      Депо-Ленинское              2084
4            2       Липовка        2  Депо-Комсомольское              3789
5            2       Липовка        3     Депо-Молодежное              7637
6            3         Рожок        1      Депо-Ленинское              9936
7            3         Рожок        2  Депо-Комсомольское              2341
8            3         Рожок        3     Депо-Молодежное              4198
9            4         Гатка        1      Депо-Ленинское              7157
10           4         Гатка        2  Депо-Комсомольское              6571
11           4         Гатка        3     Депо-Молодежное              3029
12           5    Георгополь        1      Депо-Ленинское              7296
13           5    Георгополь        2  Депо-Комсомольское              4328
14           5    Георгополь        3     Депо-Молодежное              3662
15           6      Приморск        1      Депо-Ленинское              2238
16           6      Приморск        2  Депо-Комсомольское              4633
17           6      Приморск        3     Депо-Молодежное             10642
18           7         Милта        1      Депо-Ленинское              6300
19           7         Милта        2  Депо-Комсомольское              6880
20           7         Милта        3     Депо-Молодежное              5698
21           8    Новорепное        1      Депо-Ленинское              4816
22           8    Новорепное        2  Депо-Комсомольское              8894
23           8    Новорепное        3     Депо-Молодежное              7408
24           9  Ясная поляна        1      Депо-Ленинское              1779
25           9  Ясная поляна        2  Депо-Комсомольское              2622
26           9  Ясная поляна        3     Депо-Молодежное              2685
27          10      Северный        1      Депо-Ленинское              2078
28          10      Северный        2  Депо-Комсомольское              2682
29          10      Северный        3     Депо-Молодежное              1431

In [4]:
depos.head()

   id           depo_name
0   1      Депо-Ленинское
1   2  Депо-Комсомольское
2   3     Депо-Молодежное

In [8]:
vagons_repairs.head()

,car_num,ct_name,psevdoname,std_kap,std_ppr,std_dep,std_vogi
0,57463085,Газовые,15-78-5,2021-08-08,2018-08-26,2019-08-31,2019-05-19
1,57456220,Газовые,15-78-5,2021-08-02,2019-05-19,2019-09-15,2019-05-19
2,57453656,Газовые,15-78-5,2021-07-19,2019-01-22,2019-07-07,2019-05-18
3,57463507,Газовые,15-78-5,2021-07-19,2019-03-18,2018-06-02,2019-05-18
4,57463309,Газовые,15-78-5,2021-06-20,2018-05-16,2019-01-09,2019-04-24

In [35]:
len(vagons_ways['car_num'].unique())

17988

In [7]:
vagons_repairs[vagons_repairs['car_num'] == 57751372]

,car_num,ct_name,psevdoname,std_kap,std_ppr,std_dep,std_vogi
194,57751372,Газовые,11-160-9,2020-03-26,2018-03-17,2018-05-25,2018-03-17

In [39]:
# vagons_ways.head()

       car_num        date  station_id
0     57463085  2015-01-01           2
1     57463085  2015-01-25           6
2     57463085  2015-02-18           9
3     57463085  2015-03-14           5
4     57463085  2015-04-07           8
5     57463085  2015-05-01           2
6     57463085  2015-05-25           6
7     57463085  2015-06-18           9
8     57463085  2015-07-12           3
9     57463085  2015-08-05           6
10    57463085  2015-08-29          10
11    57463085  2015-09-22           3
12    57463085  2015-10-16           7
13    57463085  2015-11-09          10
14    57463085  2015-12-03           4
15    57463085  2015-12-27           8
16    57463085  2016-01-20           1
17    57463085  2016-02-13           4
18    57463085  2016-03-08           9
19    57463085  2016-04-01           2
20    57463085  2016-04-25           6
21    57463085  2016-05-19          10
22    57463085  2016-06-12           3
23    57463085  2016-07-06           7
24    57463085  2016-07-30           1
25    57463085  2016-08-23           4
26    57463085  2016-09-16           7
27    57463085  2016-10-10           1
28    57463085  2016-11-03           4
29    57463085  2016-11-27           8
...        ...         ...         ...
1115  57463309  2028-01-29          10
1116  57463309  2028-02-22           3
1117  57463309  2028-03-17           8
1118  57463309  2028-04-10           1
1119  57463309  2028-05-04           5
1120  57463309  2028-05-28           9
1121  57463309  2028-06-21           2
1122  57463309  2028-07-15           6
1123  57463309  2028-08-08           9
1124  57463309  2028-09-01           2
1125  57463309  2028-09-25           6
1126  57463309  2028-10-19          10
1127  57463309  2028-11-12           3
1128  57463309  2028-12-06           7
1129  57463309  2028-12-30           1
1130  57463309  2029-01-23           4
1131  57463309  2029-02-16           7
1132  57463309  2029-03-12           3
1133  57463309  2029-04-05           6
1134  57463309  2029-04-29          10
1135  57463309  2029-05-23           4
1136  57463309  2029-06-16           7
1137  57463309  2029-07-10           1
1138  57463309  2029-08-03           4
1139  57463309  2029-08-27           8
1140  57463309  2029-09-20           1
1141  57463309  2029-10-14           5
1142  57463309  2029-11-07           8
1143  57463309  2029-12-01           2
1144  57463309  2029-12-25           6

[1145 rows x 3 columns]